body, root {
    margin: 0;
    padding: 0;
    font-family: 'Lufga';
}
button {
    border: none;
    outline: none;
}
:root {
    --text-black-color: #121212;
}


@font-face {
    font-family: 'Lufga';
    src: url('../public/font/LufgaRegular.woff');
}
@font-face {
    font-family:  'Lufga-bold';
    src: url('../public/font/LufgaBold.ttf')
}


nav {
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;

    /* temp */
    justify-content: space-between;
    height: 6.5rem;
    padding-inline: 4rem;
 
    position: absolute;
    /* position: fixed; */
    top: 0;
    left: 0;
}

.nav-logo-sec > img{
    height: 2.5rem;
}

.nav-menu > ul{
    display: flex;
    flex-direction: row;
    list-style: none;

    align-items: center;
    gap: 2rem;

    font-family: 'Lufga';
    font-size: 1rem;
    font-weight: 1600;
    color: var(--text-black-color);
}



.settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-lang-con {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.red-text {
    color: red;
    font-weight: 800;
}

.settings {
    gap: 2rem;
}


.language {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.62rem;
    cursor: pointer;

}

.login > button {
    background: none;
    border: none;
    outline: none;
    
    cursor: pointer;

    font-family: 'Lufga';
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight:  bold;
}

.getstarted > button {
    display: flex;
    height: 3rem;
    padding: 0.6rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;  
    border-radius: 0.8rem;
    background: var(--black, #121212);  

    color: var(--white, #FFF);
    font-family: Lufga;
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.5rem;

}
.blue-hero-shadow {
    position: absolute;
    z-index: -1000;
    transform: translate(-30%, 200%);
    

    width: 17.5rem;
    height: 17.5rem;
    border-radius: 8.75rem;
    opacity: 0.3;
    background: #00B4FF;
    filter: blur(202px);
}
